<div class="container">
	
	<h1>chatroom</h1>
	<div class="chatroom-wrapper">
		<div class="chatroom-main">
			<div>
				<div class="header">
					Room Number : xx xxx 
				</div>
				<div class="content chat">
					内容区域
				</div>
				<div class="operator">
					<input type="text" class="input-area" placeholder="input something ... ">
					<div class="chatroom-group">
						<a href="" class="button lightseagreen button-chat" id="submit">submit</a>
						<a href="" class="button button-chat orangered">reset</a>
					</div>
				</div>
			</div>	
		</div>
		<div class="side">
			<div class="panel">
				<div class="header">
					用户信息
				</div>
				<div class="content">
					<span class="user-name">
						qianjiahao
					</span>
					<p class="user-message">
						我就是我，就是天上不一样的烟火~~~~~~						
					</p>
				</div>
			</div>
		</div>
	</div>

</div>