<div class="container">
	<div class="rows" ng-controller="ChatController">
		<div class="col-md-9">
			<div class="panel">
				<form name="chatroom">
					<div class="header">
						Room : {{room}}
					</div>
					<div class="content chat">
						<div class="chat-content" ng-model="message" ng-repeat="m in message">
							<div class="chat-username" ng-class="{true : 'text-right',false : 'text-left'}[m.isSelf]">
								<span>
									{{m.username}}
								</span>
							</div>
							<div class="chat-date" ng-class="{true : 'text-right',false : 'text-left'}[m.isSelf]">
								<span >
									{{m.date}}
								</span>
							</div>
							<div class="chat-message">
								<p>
									{{m.message}}
								</p>
							</div>
						</div>
					</div>
					<div class="chat-operate-area content">
						<div class="chat-input-area">
							<textarea class="chat-input" placeholder="input something ... " rows="2" ng-bind="content" ng-model="content" name="content" autocomplete="off" required></textarea>
						</div>
						<a href="" ng-click="sendMessage(content)">
							<span class="glyphicon glyphicon-send chat-submit-area" aira-hidden="true"></span>
						</a>
					</div>
 				</form>	
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel" ng-controller="UserInfoController">
				<div class="header">
					<span>用户信息</span>
				</div>
				<div class="content">
					<h2>{{username}}</h2>
					<i>{{signature}}</i>
				</div>
			</div>
			<div class="panel" ng-controller="ChatController">
				<div class="header">
					<span>房间信息</span>
				</div>
				<div class="content">
					<div ng-show="isCreate" name="createRoomForm">
						<input type="text" autocomplete="off" ng-model="createRoomContent">
						<a href="" class="button button-input" ng-show="createRoomContent">create room</a>
					</div>
					<div>
						<input type="text" autocomplete="off">
						<a href="">search</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>