<div class="container">
	
	<h1>chatroom</h1>
	<div class="chatroom-wrapper">
		<div class="chatroom-main" ng-controller="ChatController">
			<form name="chatroom">
				<div class="header">
					Room Number : xx xxx 
				</div>
				<div class="content chat">
					<ul ng-repeat="m in message">
						<li>
							<span>{{m.message}}</span><br/>
							<i>{{m.username}} {{m.date}}</i>
						</li>
					</ul>
				</div>
				<div class="operator">
					<input type="text" class="input-area" placeholder="input something ... " ng-bind="content" ng-model="content" name="content" required>
					<div class="chatroom-group">
						<button type="submit" class="button lightseagreen button-chat" ng-click="sendMessage(content)" ng-disabled="chatroom.content.$error.required">submit</button>
						<button type="reset" class="button button-chat orangered">reset</button>
					</div>
				</div>
			</form>	
		</div>
		<div class="side">
			<div class="panel" ng-controller="UserInfoController">
				<div class="header">
					用户信息
				</div>
				<div class="content">
					<span class="user-name" ng-model="username" ng-bind="username"></span>
					<p class="user-message" ng-model="message" ng-bind="message"></p>
				</div>
			</div>
		</div>
	</div>

</div>