<div class="container">
	<div ng-controller="CircleController" class="rows">
		<div class="col-md-5">
			<div class="panel">
				<div class="header">
					<span>好友列表</span><a href="" ng-show="friends.length" class="btn btn-sm btn-primary circle-create-room" ng-click="isCreateRoom=!isCreateRoom">create room</a>
				</div>
				<div class="content" ng-show="isCreateRoom">
					<ul class="auth-list">
						<li class="input-normal">
							<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
							<span>
								<input type="text" ng-model="roomInfo" placeholder="Room Info">
							</span>
						</li>
						<li class="input-normal">
							<span class="glyphicon glyphicon-user" aira-hidden="true"></span>
							<span><input type="text" ng-model="username" disabled="true"></span>
						</li>
					</ul>
				</div>
				<div class="content">
					<div ng-show="!friends.length">
						<span>暂时没有好友在线</span>
					</div>
					<table class="table" ng-show="friends.length">
						<tr ng-repeat="f in friends | orderBy:'online':true">
							<td>
								<span class="glyphicon glyphicon-user" aira-hidden="true" ng-class="{true:'online', false:'offline'}[f.online]"></span>
							</td>
							<td><span ng-bind="f.username"></span></td>
							<td ng-show="isCreateRoom">
								<a href="" ng-click="toggleCheck(f._id)">
									<span ng-class="{ true:'glyphicon glyphicon-check', false:'glyphicon glyphicon-unchecked' }[isChecked]" aira-hidden="true"></span>
								</a>
							</td>
						</tr>
					</table>
				</div>
				<div class="header" ng-show="isCreateRoom">
				<span class="glyphicon glyphicon-ok" aira-hidden="true"></span>
					<a href="" class="btn btn-sm btn-success circle-create-room" ng-disabled="!roomInfo" ng-click="finish(roomInfo)">Finish</a>
				</div>
			</div>
			<div class="panel">
				<div class="header">
					<span>房间列表</span>
				</div>
				<div class="content">
					<table class="table">
						<tr ng-repeat="r in rooms | orderBy:'createdDate':true">
							<td><span ng-bind="r.roomInfo"></span></td><td><span ng-bind="convertIdToUsername(r.createrId)"></span></td><td><a href="" class="btn btn-sm btn-primary" ng-click="join(r._id)">join</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="panel">
				<div class="header">
					<span>写点什么</span>
					<span><a href="" class="btn btn-sm btn-success circle-wirte-submit" ng-click="publish()" ng-disabled="!writeContent">submit</a></span>
				</div>
				<div class="content">
					<textarea class="circle-write-area" ng-model="writeContent" placeholder="今天有哪些新鲜事？"></textarea>
				</div>
			</div>
			<div class="panel" ng-repeat="nl in newsList | orderBy :'date' :true">
				<div class="content">
					<h3><span ng-bind="convertIdToUsername(nl.publishId)"></span></h3>
					<p ng-bind="nl.publishContent"></p>
					<i ng-bind="nl.date | date : 'yyyy-MM-dd hh:mm:ss'"></i>
				</div>
			</div>	
		</div>
	</div>
</div>