<header>
	<nav class="navbar navbar-default" ng-controller="NavbarController">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" ng-click="isFolded=!isFolded">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a href="" class="navbar-brand" ng-click="toggleBrand()" ng-bind="brand"></a>
			</div>
			<div class="navbar-collapse" ng-if="!isFolded" ng-click="toggleNavbar()">
				<ul class="navbar-nav nav">
					<li ng-class="{ active: isActive('/auth') }" ng-if="!isAuth"><a href="#/auth" >auth</a></li>
					<li ng-class="{ active: isActive('/about') }" ><a href="#/about">about</a></li>
					<li ng-class="{ active: isActive('/contact') }" ><a href="#/contact">contact</a></li>
					<li ng-class="{ active: isActive('/chatroom') }" ng-if="isAuth" ><a href="#/chatroom">chatroom</a></li>
				</ul>
				<div class="navbar-right" ng-controller="LogoutController" >
					<button class="btn btn-sm btn-danger navbar-btn" ng-click="logout()" ng-show="isAuth">logout</button>
				</div>
			</div>
		</div>
	</nav>	
</header>
