<div class="container" ng-controller="HintController">
	
	<h2>hint</h2>

	<table class="table hint-list table-bordered table-hover">
		<tr >
			<td>nickname</td><td>reason</td><td>content</td><td>date</td><td>mark</td><td>operation</td>
		</tr>
		<tr ng-repeat="hl in hintsList">
			<td>{{hl.senderName}}</td>
			<td>{{hl.hintType}}</td>
			<td style="width:200px;word-break: break-word;">{{hl.hintContent}}</td>
			<td>{{hl.date}}</td>
			<td>
				<a href="" ng-show="!isMarked && !hl.mark" ng-class="{ true: 'marked-hint',false: 'unmarked-hint' }[isMarked || hl.mark]" ng-click="mark(hl._id)">
					<span class="glyphicon glyphicon-bookmark" aira-hidden="true"></span>
				</a>
				<a href="" ng-show="isMarked || hl.mark" ng-class="{ true: 'marked-hint',false: 'unmarked-hint' }[isMarked || hl.mark]">
					<span class="glyphicon glyphicon-bookmark" aira-hidden="true"></span>
				</a>
			</td>
			<td>
				<a href="" class="btn btn-sm btn-success" ng-disabled="isAccepted || hl.accept" ng-click="accept(hl._id)">accept</a>
			</td>
		</tr>
	</table>
	
</div>