<div class="container" ng-controller="HintController">
	
	<h2>hint</h2>

	<table class="table hint-list table-bordered table-hover">
		<tr >
			<td>
				<span>nickname</span>
			</td>
			<td>
				<span>reason</span>
			</td>
			<td>
				<span>content</span>
			</td>
			<td>
				<span>date</span>
			</td>
			<td>
				<span>mark</span>
			</td>
			<td>
				<span>operation</span>
			</td>
		</tr>
		<tr ng-repeat="hl in hintsList | orderBy:'date':true | orderBy:'mark'">
			<td>
				<span ng-bind="hl.senderName"></span>
			</td>
			<td>
				<span ng-bind="hl.hintType"></span>
			</td>
			<td style="max-width:200px;word-break: break-word;">
				<span ng-bind="hl.hintContent"></span>
			</td>
			<td>
				<span ng-bind="hl.date"></span>
			</td>
			<td>
				<a href="" ng-show="!isMarked && !hl.mark" ng-class="{ true: 'marked-hint',false: 'unmarked-hint' }[isMarked || hl.mark]" ng-click="mark(hl._id)">
					<span class="glyphicon glyphicon-bookmark" aira-hidden="true"></span>
				</a>
				<a href="" ng-show="isMarked || hl.mark" ng-class="{ true: 'marked-hint',false: 'unmarked-hint' }[isMarked || hl.mark]">
					<span class="glyphicon glyphicon-bookmark" aira-hidden="true"></span>
				</a>
			</td>
			<td>
				<a href="" class="btn btn-sm btn-success" ng-disabled="isAccepted || hl.accept || friends.indexOf(hl.senderId) >=0 " ng-click="accept(hl._id)">accept</a>
			</td>
		</tr>
	</table>
	
</div>