<div class="container">
	<div class="jumbotron">
		<div class="left">
			
			<h1>index</h1>
			<p>
				this is index page , you can get anything from here .
			</p>
		</div>
		<div class="login-area">
			<form>
				<ul class="login-list">
					<li class="input-normal">
						<span class="login-group">
							<span class="glyphicon glyphicon-user icon" aira-hidden="true"></span>
							<input type="email" placeholder="Email" name="email">
							<span>email is n</span>
						</span>
						<span class="icon-group">
							<span class="glyphicon glyphicon-ok-sign icon" aira-hidden="true"></span>
							<span class="glyphicon glyphicon-remove-sign icon" aira-hidden="true"></span>
							<span class="glyphicon glyphicon-info-sign icon" aira-hidden="true"></span>	
						</span>
						
					</li>
					<li class="input-normal">
						<div class="login-group">
							<span class="glyphicon glyphicon-lock" aira-hidden="true"></span>
							<input type="password" placeholder="Password">
						</div>
						<div class="icon-group">
							<span class="glyphicon glyphicon-ok-sign icon" aira-hidden="true"></span>
							<span class="glyphicon glyphicon-remove-sign icon" aira-hidden="true"></span>
							<span class="glyphicon glyphicon-info-sign icon" aira-hidden="true"></span>	
						</div>
					</li>
					<li class="button-group">
						<a href="" class="button lightseagreen button-input">Login</a>
						<a href="" class="button lightcoral button-input">Signin</a>	
					</li>
				</ul>
			</form>
		</div>
		<div class="signin-area">
			
		</div>
	</div>
</div>

