<div class="container">
	<div class="jumbotron">
		<div class="left">
			
			<h1>index</h1>
			<p>
				this is index page , you can get anything from here .
			</p>
		</div>
		<div class="login-area" ng-controller="LoginController">
			<form name="loginForm">
				<ul class="login-list">
					<li ng-class="{ true : 'input-error' , false : 'input-normal'}[loginForm.email.$dirty && loginForm.email.$invalid]">
						<span class="login-group">
							<span class="glyphicon glyphicon-user icon" aira-hidden="true"></span>
							<input type="email" placeholder="Email" name="email" ng-minlength="1" ng-model="loginEmail" required="">
							<span class="error-message" ng-show="loginForm.email.$dirty && loginForm.email.$error.required">email required</span>
							<span class="error-message" ng-show="loginForm.email.$dirty && loginForm.email.$error.email">email type error</span>
						</span>
						<span class="icon-group">
							<span class="glyphicon glyphicon-ok-sign icon" aira-hidden="true" ng-show="loginForm.email.$valid"></span>
							<span class="glyphicon glyphicon-remove-sign icon" aira-hidden="true" ng-show="loginForm.email.$dirty && (loginForm.email.$error.required || loginForm.email.$error.email)"></span>
						</span>
					</li>
					<li ng-class="{ true : 'input-error' , false : 'input-normal'}[loginForm.password.$dirty && loginForm.password.$invalid]">
						<div class="login-group">
							<span class="glyphicon glyphicon-lock" aira-hidden="true"></span>
							<input type="password" placeholder="Password" name="password" ng-minlength="6" ng-maxlength="20" ng-model="loginPassword" required="">
						</div>
						<div class="icon-group">
							<span class="glyphicon glyphicon-ok-sign icon" aira-hidden="true" ng-show="loginForm.password.$valid"></span>
							<span class="glyphicon glyphicon-remove-sign icon" aira-hidden="true" ng-show="loginForm.password.$dirty && (loginForm.password.$error.required || loginForm.password.$error.password || loginForm.password.$error.maxlength || loginForm.password.$error.minlength)"></span>
						</div>
					</li>
					<li class="button-group">
						<input type="submit" class="button lightseagreen button-input"  value="login" ng-disabled="loginForm.$invalid" ng-click="login(loginEmail,loginPassword)">
						<input type="button" class="button lightcoral button-input" ng-click="toggleSignin()" value="signin">	
					</li>
				</ul>
			</form>
		</div>
		<div class="signin-area" ng-show="isSignin" ng-controller="SigninController">
				
		</div>
	</div>
</div>

