<div class="container" ng-controller="SearchFriendController">
	<div class="jumbotron">
		<div class="text-center">
			<h1>搜搜</h1>
		</div>

		<!-- search area -->

		<form>
			<div class="search-friend-bar">
				<div class="col-md-10">
					<input type="text" class="search-friend-input" ng-model="searchFriendContent" placeholder="Email or Nickname">
				</div>
				<div class="col-md-2">
					
					<input type="submit" class="search-friend-submit" ng-disabled="!searchFriendContent" ng-click="search(searchFriendContent)" value="Search">
				</div>
			</div>
		</form>

		<!-- search area -->

	</div>
	<table class="table table-hover table-bordered" ng-if="searchResult.length">
		<tr class="text-center">
			<td>
				<span>#</span>
			</td>
			<td>
				<span>昵称</span>
			</td>
			<td>
				<span>签名</span>
			</td>
			<td>
				<span>内容</span>
			</td>
			<td>
				<span>#</span>
			</td>
		</tr>

		<!-- search result area -->

		<tr ng-repeat="sr in searchResult track by $index" class="text-center">
			<td ng-bind="$index+1"></td>
			<td ng-bind="sr.username"></td>
			<td ng-bind="sr.signature"></td>
			<td>
				<input type="text" ng-model="applyContent" class="apply-content" placeholder="fill your apply content"></td>
			<td>
				<a class="btn btn-sm btn-primary" ng-hide="friends.indexOf(sr._id) >= 0" ng-click="pullRequest(sr._id,applyContent)" ng-disabled="isApplied || sr._id==selfId">friend request</a>
				<a href="" class="btn btn-sm btn-success" ng-disabled="true" ng-show="friends.indexOf(sr._id) >= 0">friend</a>
			</td>
		</tr>

		<!-- search result area -->

	</table>

	<!-- no search result area -->

	<div ng-if="noSearchResult" class="text-center">
		<h3>什么也没有搜到，尝试其他的昵称或者邮箱</h3>
		<hr/>
	</div>

	<!-- no search result area -->

</div>

