<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>html5</title>

	<link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../assert/styles/customer.css">

</head>
<body class="theme-white">
	
	<headertemplate></headertemplate>

	<div ui-view></div>
	
	<footertemplate></footertemplate>

	<script type="text/javascript" src="../../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../../bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="../../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="../../bower_components/angular-cookies/angular-cookies.js"></script>

	<script type="text/javascript" src="../api/app.js"></script>
	<script type="text/javascript" src="../api/router.js"></script>
	<script type="text/javascript" src="../api/service.js"></script>
	<script type="text/javascript" src="../api/directive.js"></script>
	<script type="text/javascript" src="../api/value.js"></script>
	<script type="text/javascript" src="../api/factory.js"></script>
	<script type="text/javascript" src="../api/controller.js"></script>

	<script type="text/javascript" src="../../node_modules/socket.io/node_modules/socket.io-client/socket.io.js"></script>
	<script type="text/javascript">

		// var socket = io('localhost:3000');


	</script>		
</body>
</html>
