/**
 * tag
 */
footer{
	text-align: center;
	font-size: 18px;
}
a{
	text-decoration: none;
}
a:visited, a:active{
	outline: none;
}

ul{
	list-style-type: none;
}
input{
	box-shadow:none;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #F9F9F5 inset;
}



/**
 * tag 
 */

	/* ------------------------------------------------------------------------------------  */

/**
 * class
 */
.theme-white {
  background-color: #F9F9F5;
  color: #2C3E50;
}
.jumbotron{
	overflow: hidden;
	zoom: 1;
}
.navbar{
	border-radius: 0;
}
.left{
	width: 50%;
	float: left;
}

.input-normal{
	border-bottom: 1px solid #ddd;	
}
.input-error{
	border-bottom: 1px solid orangered;
}

.hint{
	color:orangered;
}

.main{
	min-height: 300px;
}





/**
 *  login style 
 */
.login-area{
	width: 50%;
	float: right;
	border-radius: 15px;
}

.login-list{
	list-style-type: none;
	background-color: #F9F9F5;
	padding: 10px;

}
.login-list li{
	width: 100%;
	padding: 3px 9px;
	margin:10px 0;
	overflow: hidden;
}


.icon{
	font-size: 16px;
	line-height: 20px;
}

.login-group{
	float: left;
	width: 80%;
}

.login-group input, .login-group input:focus{
	padding: 5px;
	outline: none;
	border: none;
	background-color: #F9F9F5;
	cursor: pointer;
	width: 60%;

}

.icon-group{
	float: right;
	margin-top: 6px;
}

.button-group{
	text-align: center;
}
.button-input{
	padding: 5px 20%;
	background-color: #F9F9F5;
	border: none;
}
/**
 * login style
 */

	/* ------------------------------------------------------------------------------------  */

/*
	sigin style
 */


.signin-area{
	width: 100%;
	clear: both;
	border-top: 1px solid #e56;
	border-bottom: 1px solid #e56;
	overflow: hidden;
}

.signin-list{
	list-style-type: none;
	background-color: #F9F9F5;
	padding: 10px;
	border-right: 1px solid #ddd;

}
.signin-list li{
	width: 100%;
	padding: 3px 9px;
	margin:10px 0;
	overflow: hidden;

}
.signin-left{
	margin-top: 10px;
	width: 50%;
	float: left;
	
}
.signin-right{
	margin-top: 10px;
	width: 50%;
	float: right;
}

.signin-group{
	float: left;
	width: 80%;
}

.signin-group input, .signin-group input:focus{
	padding: 5px;
	outline: none;
	border: none;
	background-color: #F9F9F5;
	cursor: pointer;
	width: 50%;
}
/*
	signin style
 */

	/* ------------------------------------------------------------------------------------  */

/*
	hint style
 */

.hint-list{
	text-align: center;
	vertical-align: center;
}

.unmarked-hint{
	color: orangered;
	font-size: 20px;
}
.marked-hint{
	color: #666;
}




/*
	hint style
 */

	/* ------------------------------------------------------------------------------------  */
/*
	search style
 */

.search-friend-title{
	text-align: center;
	font-size: 40px;
}
.search-friend-bar{
	width: 100%;
	margin:10px;
	overflow: hidden;
}
.search-friend-input{
	outline: none;
	width: 100%;
	padding: 7px 15px;
	font-size: 20px;
	float: left;
}
.search-result{
	text-align: center;
}
.apply-content{
	width: 100%;
	height: auto;
	outline: none;
	padding: 3px 8px;
}

/*
	search style
 */
	/* ------------------------------------------------------------------------------------  */
/**
 * chatroom style
 */
.chatroom-wrapper{
	width: 100%;
	overflow: hidden;
}

.chatroom-main{
	width: 70%;
	float: left;

}

.chat{
	height: 400px;
	overflow: scroll;
}
.content{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding: 10px;
	border: 1px solid #e7e7e7;
	background-color: #fff;
}
.chat-content{
	clear: both;
	width: 100%;
	margin-bottom: 5px;
	overflow: hidden;

}
.chat-content{
	overflow: hidden;
	width: 100%;
}
.chat-username{
	font-weight: 500;
	font-size: 18px;
}
.chat-date{

}
.chat-message{
	width: 90%;
	margin: 0 auto;
	word-wrap:break-word;
	background-color: rgba(97,178,167,0.15);
	border-radius: 3px;
	padding: 5px;
}
.chat-message p{
	margin: 0;
}
.self{
	text-align: right;	
}
.other{
	text-align: left;
}

.side{
	width: 25%;
	float: right;
}

.panel{
	margin-bottom: 20px;
	border: 0 ;
	border-radius: 3px;
}

.header{
	background-color: #e7e7e7;
	padding: 10px;
	border-radius: 3px 3px 0 0 ;
}

.user-name{
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
	display: block;
}

.user-signature{
	font-style: italic;
}

.operator{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border: 1px solid #EEEEE0;
	background-color: #fff;
	font-size: 18px;
}
.input-area{
	padding: 7px 9px;
	height: 100%;
	border:none;
	outline: none;
	width: 60%;
	float: left;
	cursor: pointer;
}
.button-chat{
	padding: 8px;
	width: 19%;
	border: none;
	background-color: #fff;
}
/**
 * chatroom style
 */

	/* ------------------------------------------------------------------------------------  */

/**
 * button style [common]
 */
.button{
	height: 100%;
	text-align: center;
	display: inline-block;
	outline: none;
	cursor: pointer;
}

.button-normal{
	padding: 7px;
}

.lightsalmon{
	color:lightsalmon;
}
.lightsalmon:hover{
	color:#fff;
	background-color: lightsalmon;
	text-decoration: none;
	-webkit-transition: color .2s linear;
	-webkit-transition: background-color .2s linear;
}
.lightseagreen{
	color:lightseagreen;
}
.lightseagreen:hover{
	color: #fff;
	background-color: lightseagreen;
	text-decoration: none;
	-webkit-transition: color .2s linear;
	-webkit-transition: background-color .2s linear;	
}

.orangered{
	color:orangered;
}
.orangered:hover{
	color: #fff;
	background-color: orangered;
	text-decoration: none;
	-webkit-transition: color .2s linear;
	-webkit-transition: background-color .2s linear;	
}

.lightcoral{
	color:lightcoral;
}
.lightcoral:hover{
	color: #fff;
	background-color: lightcoral;
	text-decoration: none;
	-webkit-transition: color .2s linear;
	-webkit-transition: background-color .2s linear;	
}
/**
 * button style [common]
 */

	/* ------------------------------------------------------------------------------------  */

/**
 * class
 */