/**
 * tag
 */
footer{
	text-align: center;
	font-size: 18px;
}
a{
	text-decoration: none;
}
a:visited, a:active{
	outline: none;
}

ul{
	list-style-type: none;
}
input{
	box-shadow:none;
	outline: none;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #F9F9F5 inset;
}



/**
 * tag 
 */

	/* ------------------------------------------------------------------------------------  */

/**
 * class
 */
.theme-white {
  background-color: #F9F9F5;
  color: #2C3E50;
}
.navbar{
	border-radius: 0;
}

.input-normal{
	border-bottom: 1px solid #ddd;	
}
.input-error{
	border-bottom: 1px solid orangered;
}

.jumbotron{
	overflow: hidden;
	zoom: 1;
}
.hint{
	color:orangered;
}

.main{
	min-height: 300px;
}

.header-title{
	font-size: 20px;
	font-weight: 400;
	letter-spacing:1px;
}

.header-title-first{
	color: #F9F9F5;
}

.header-link{
	font-size: 16px;
}

.panel{
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0 ;
	border-radius: 3px;
}

.header{
	background-color: #e7e7e7;
	padding: 10px;
	border-radius: 3px 3px 0 0 ;
}

.content{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding: 10px;
	border: 1px solid #e7e7e7;
	background-color: #fff;
}

.text-center{
	text-align: center;
}
.text-right{
	text-align: right;	
}
.text-left{
	text-align: left;
}
/**
 *  authentication style 
 */
.auth-list{
	list-style-type: none;
	background-color: #F9F9F5;
	padding: 10px;


}
.auth-list li{
	width: 100%;
	padding: 3px 9px;
	margin:10px 0;
	overflow: hidden;
}
.auth-list input, .auth-list input:focus{
	padding: 5px;
	outline: none;
	border: none;
	background-color: #F9F9F5;
	cursor: pointer;
	width: 60%;
}

.auth-a{
	border: none;
	background-color: #eee;
}
.auth-a:visited, .auth-a:active{
	background-color: #eee;
	color: inherit;
}

/**
 * authentication style
 */


	/* ------------------------------------------------------------------------------------  */

/*
	hint style
 */


.hint-list{
	text-align: center;
	vertical-align: center;
}

.unmarked-hint{
	color: orangered;
	font-size: 20px;
}

.marked-hint{
	color: #666;
	font-size: 20px;
}
.marked-hint:visited{
	color: #666;
}

.unmarked-hint:hover,.unmarked-hint:active,.marked-hint:hover,.marked-hint:active{
	color: inherit;
}

/*
	hint style
 */

	/* ------------------------------------------------------------------------------------  */
/*
	search style
 */

.search-friend-bar{
	margin:10px;
	overflow: hidden;
	background-color: #fff;
	width: 100%;
	padding: 7px 15px;
	font-size: 20px;
}
.search-friend-input{
	outline: none;
	border: none;
	width: 100%;
}
.search-friend-submit{
	border: none;
	background-color: #fff;
	width: 100%;
}

.apply-content{
	width: 100%;
	height: auto;
	outline: none;
	padding: 3px 8px;
}

/*
	search style
 */


	/* ------------------------------------------------------------------------------------  */
/*
	circle style
 */


.online{
	color: seagreen;
}
.offline{
	color: #666;
}

.circle-write-area{
	width: 100%;
	outline: none;
	border: none;
	overflow: scroll;
}
.circle-wirte-submit{
	float: right;
    margin-top: -5px;
}

/*
	circle style
 */

	/* ------------------------------------------------------------------------------------  */
/*
   chatroom style
 */


.chat{
	height: 400px;
	overflow: scroll;
}

.chat-content{
	clear: both;
	width: 100%;
	margin-bottom: 5px;
	overflow: hidden;

}
.chat-content{
	overflow: hidden;
	width: 100%;
}
.chat-username{
	font-weight: 500;
	font-size: 18px;
}
.chat-date{

}
.chat-message{
	width: 90%;
	margin: 0 auto;
	word-wrap:break-word;
	background-color: rgba(97,178,167,0.15);
	border-radius: 3px;
	padding: 5px;
}
.chat-message p{
	margin: 0;
}
.chat-operate-area{
	overflow: hidden;
}
.chat-input-area{
	width: 90%;
	float: left;
	
}
.chat-input{
	width: 100%;
	height: auto;
	border: none;
	outline: none;
}
.chat-submit-area{
	width: 10%;
	float: right;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	background-color: #eee;
	color: #555;
	z-index: 10;
	font-size: 20px;
}
.chat-submit-area:hover{
	background-color: #eee;
	color: lightseagreen;
}

/**
 * chatroom style
 */

	/* ------------------------------------------------------------------------------------  */

/**
 * button style [common]
 */
.button{
	height: 100%;
	text-align: center;
	display: inline-block;
	outline: none;
	cursor: pointer;
}

.button-normal{
	padding: 7px;
}

.lightsalmon{
	color:lightsalmon;
}
.lightsalmon:hover{
	color:#fff;
	background-color: lightsalmon;
	text-decoration: none;
	-webkit-transition: color .2s linear;
	-webkit-transition: background-color .2s linear;
}
.lightseagreen{
	color:lightseagreen;
}
.lightseagreen:hover{
	color: #fff;
	background-color: lightseagreen;
	text-decoration: none;
	-webkit-transition: color .2s linear;
	-webkit-transition: background-color .2s linear;	
}

.orangered{
	color:orangered;
}
.orangered:hover{
	color: #fff;
	background-color: orangered;
	text-decoration: none;
	-webkit-transition: color .2s linear;
	-webkit-transition: background-color .2s linear;	
}

.lightcoral{
	color:lightcoral;
}
.lightcoral:hover{
	color: #fff;
	background-color: lightcoral;
	text-decoration: none;
	-webkit-transition: color .2s linear;
	-webkit-transition: background-color .2s linear;	
}
/**
 * button style [common]
 */

	/* ------------------------------------------------------------------------------------  */

/**
 * class
 */